#details td{
    border: 1px solid white;
    padding: 5px;
}

select{
    width: 170px;
}
#but{
width: 324px;
margin-top: 4px;
background-color: aqua;
}

body{
    position: relative;
    background-color:rgb(52, 45, 45);
    color: azure;
    background-repeat: no-repeat;
    
    background-size: 1600px 800px;
    background-attachment: fixed;
}
.box{
    position: absolute;
    /* border: 1px solid black; */
    padding: 10px;
    width: fit-content;
    /* top: 100px; */
    left: 595px;
    
}
#h1{
    margin-left: 645px;
     margin-top: 100px;
}
.box2{
    position: absolute;
    /* border: 1px solid black;  */
     padding: 5px;
    width: fit-content;
     top: 350px;
    left: 230px;
}
.box2 th,td{
    border: 1px solid rgb(240, 238, 238);
    padding: 10px;
    width: 150px;
}

